
    <div class="card ">
       <h4 class="card-header-title content has-background-success "><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <div class="card-content">
        <p class="content ">{{content}}</p>
        <p class="content">Posted by <span>{{user.username}}</span> on {{format_date created_at}}</p>
        </div>
    </div>

